html {
  background: url("gal700.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
}
h2 {
  margin: 0;
  padding: 0;
  
}

/*.banner {
  margin: 0;
  background-color: blue;
  width: 100%;
  padding: 1rem;
  margin-bottom: 50px;
}*/

h1 {
  font-size: 20px;
}

h2 {
  font-size: 17px;
}

p {
}

.container {
  margin: 0;
  padding: 0;
}
.display-box {
  display: flex;
  width: 75%;
  height: 75vh;
  justify-content: center;
  margin: 0 auto;
}

.randomMonet {
  height: 90%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.randomMonetImage {
  /*width: 70%;
  height: 80%;*/
  width: 320px;
  height: 240px;
  /*object-fit: contain;*/
  display: inline-block;
  border-radius: 4px;
  box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.5) inset,
    20px 4px 10px rgba(0, 0, 0, 0.35), 40px 8px 10px rgba(0, 0, 0, 0.15);
}

#tab1 {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.3); /* FF3.5+ */
  -ms-transform: scale(0.3); /* IE9 */
  -o-transform: scale(0.3); /* Opera 10.5+ */
  transform: scale(0.3);
  left: 15%;
  border: none;
  bottom: 55%;
}

#tab2 {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 14.7%;
  bottom: 55%;
  border: none;
  -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.3); /* FF3.5+ */
  -ms-transform: scale(0.3); /* IE9 */
  -o-transform: scale(0.3); /* Opera 10.5+ */
  transform: scale(0.3);
}

#ptab1 {
  margin: 0 auto;
  font-size: 15px;
  color: black;
  position: absolute;
  bottom: 41%;
  left: 50%;
  transform: translate(-50%, 50%);
  white-space: pre-wrap;
  text-align: left;
}
/* i will probably need to create p ids and make them "display: none" and then create an event listener then they become display: block when tab 1 is clicked.
      i was planning on doing that with the tab1 id, but i'm realizing i will still need the "title to appear. so maybe i don't need these ids at all" */
